.main-button {
  width: 192px;
  height: 44px;
  border-width: 2px;
  border-color: white;
  border-radius: 4px;
  padding: 0 22px 0 22px;
  font-size: 16px;
  font-weight: bold;
  font-family: Inter, sans-serif;
}
