.image-container {
  max-width: 768px;
  justify-content: space-between;
  display: flex;
  div {
    flex: 1;
  }
}

.image-container img {
  border-radius: 5px;
}

.review-container {
  margin-top: 15px;
  margin-bottom: 15px;
  height: 146px;
  border-radius: 3px;
}

@media screen and (max-width: 1300px) {
  .main-container {
    flex-direction: column;
    margin: auto;
    align-items: center;
  }
}

@media screen and (max-width: 824px) {
  .review-container {
    flex-direction: column;
    height: auto;
  }
}
