@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background-color: white;
    --font-color: black;
}

.dark {
    --background-color: black;
    --font-color: white;
}

body {
    background-color: var(--background-color);
    color: var(--font-color);
}
